$primary-color: lightblue;

html {
	height: 100%;
	width: 100%;
	margin: 0%;
}

// body {
// 	height: 100%;
// 	width: 100%;
// }

#primary-canvas {
	border: solid black 1px;
	// height: 300px;
	// background-color: $primary-color;
	// width: 93%;
}
